<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UGCS.Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <log4net>
        <appender name="Main" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="${LOCALAPPDATA}\\UGCS\logs\UCS.NET.SDK.Example\log-%date{yyyy-MM-dd_HH-mm-ss}.txt" />
            <rollingStyle value="Date" />
            <appendToFile value="true" />
            <maximumFileSize value="1GB" />
            <maxSizeRollBackups value="3" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{ABSOLUTE} %-5level %-18logger %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="Main" />
        </root>
    </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <UGCS.Example.Properties.Settings>
            <setting name="UgcsUcsAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="UgcsDroneProfileName" serializeAs="String">
                <value>EMU-101</value>
            </setting>
            <setting name="MapProviderName" serializeAs="String">
                <value>Google (hybrid)</value>
            </setting>
            <setting name="CurrentUICulture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="UCSPort" serializeAs="String">
                <value>3334</value>
            </setting>
            <setting name="UCSLogin" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="UCSPassword" serializeAs="String">
                <value>admin</value>
            </setting>
        </UGCS.Example.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
